# You shouldn't have to change anything if
# you are planning to just use the postgres Docker image
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=wantify_dev
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=
SERVER_USER_PASSWORD=!qH5xVOIm0bg@FB8
